@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');

body {
	background-color: #212121;
  color:#fff;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

.title {
  font-size: 5rem;
}

.dialouge1 {
  margin: 3rem;
}

.dialouge2 {
  margin: 3rem;
}

.results {
	display: flex;
	align-items: center;
	justify-content: center;

	.result {
		background-color: #E91E63;
    box-shadow: inset 5em 1em #f03171;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 1rem;
		height: 400px;
		width: 300px;

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;

	button {
		background-color: #FF5252;
		border: 0;
		border-radius: 0.25rem;
		color: #fff;
		font-size: 18px;
		padding: 0.5rem;
		margin: 1rem;
		width: 18rem;

		&:active {
			transform: scale( 0.98 );
		}

		&:focus,
		&:hover {
			outline: none;
			cursor: pointer;
		}
	}
}
